<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Formulaire de Contact</title>
</head>
<body>
    <h2>Formulaire de Contact</h2>
    <form action="/submit" method="post">
        <label for="first_name">Prénom:</label><br>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Nom:</label><br>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Envoyer">
    </form>
</body>
</html>

